.prize-container {
    display: inline-flex;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 10px;
}

.currency {
    font-size: 44pt;
    font-family: 'Barlow';
    color: var(--orange);
    margin: 0;
    margin-right: 15px;
}

.prize{
    margin: 0;
    transform: translatey(-20%);
    font-size: 180pt;
    font-family: 'Barlow-900';
}