.plate {
    background-color: var(--orange);
    transition: all 0.2s ease-out;
}

.plate.idle p {
    transition: opacity 0.8s ease, visibility 1.0s ease;;
}
.plate.idle {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 350px;
    display: flex;
}

.plate.idle p {
    font-size: 24pt;
    font-family: 'Barlow-Light';
    padding: 10%;
    text-align: center;
}

.followers {
    font-family: 'Barlow';
}

.plate.move {
    margin-top: 30px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.plate.move p {
    opacity: 0%;
}