.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80vh;
    padding: 0;
    margin: 0;
}

.title {
    font-family: 'Barlow-Light';
}

.description {
    font-family: 'Barlow-Condensed';
    font-size: 18pt;
    max-width: 700px;
    text-align: center;
}