.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    gap: 1px;
}

.title {
    font-family: 'Barlow-Light';
}
.description {
    font-family: 'Barlow-Condensed';
    font-size: 18pt;
    max-width: 700px;
    text-align: center;
}